// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '../css/app.css';

@import 'components';
@import '~sweetalert2/src/sweetalert2.scss';



$mynewcolor: #de835c;

.btn-orange {
    @include button-variant($mynewcolor, $mynewcolor, darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}

.btn-orange-primary {
    @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $mynewcolor !important;
}

.language-form-row:first-child .col-1 {
    display: none;
}
