body {
    background-color: #fafafa;
}

.navbar {
    flex-direction: row;
    background: #ffffff;
    color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    float: left;
    text-align: center;
    padding: 21px 10px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.nav-link:hover {
    cursor: pointer;
}

.navbar-nav i {
    font-size: 1.4rem;
}

.nav-right {
    margin-left: auto;
}

.navbar-search {
    position: relative;
    margin: auto;
    width: 50%;
}

.navbar a {
    color: black;
}

.navbar-search input {
    background: #eaeaea;
    border: none;
    padding: 12px 50px 12px 20px;
    width: 100%;
    outline: none;
    border-radius: 20px;
}

.navbar-search i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.logo {
    height: 60px;
    padding: 10px;
}

.wrapper {
    margin-left: 82px;
    padding: 75px 10px 10px;
    transition: margin-left .1s;
}

.sidebar {
    width: 82px;
    height: 100vh;
    position: fixed;
    margin-top: 84px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
    z-index: 100;
    transition: width .1s;
    overflow: auto;
    padding-bottom: 200px;
    background-color: #ffffff;
}

.sidebar:hover {
    width: 250px;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.sidebar-nav-item {
    width: 100%;
}

.sidebar-nav-link {
    margin-top: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.sidebar a:hover {
    text-decoration: none;
    color: #e8742c;
}

.sidebar-nav-link i {
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #e0e0e0;
    padding: 5px;
    border-radius: 5px;
}

.sidebar-nav-link div {
    min-width: 82px;
    height: 50px;
    position: relative;
}

.sidebar-nav-link.active i {
    margin-left: -5px;
}

.sidebar-expand .sidebar {
    width: 250px;
}

.sidebar-expand .wrapper {
    margin-left: 250px;
}

/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
    .sidebar {
        width: 0;
    }

    .wrapper {
        margin-left: 0;
    }

    .sidebar-expand .wrapper {
        margin-left: 0;
    }

    .nav-right .nav-item {
        display: none;
    }

    .nav-right .mode, .nav-right .avt-wrapper {
        display: list-item;;
    }

    .navbar-search {
        display: none;
    }
}

.nav-item {
    list-style: none;
}

.sidebar a {
    color: #3b3b3b;
}

.sidebar .collapse, .sidebar .collapse-hook {
    box-shadow: inset 0 0 10px #00000026;
    margin-top: 5px;
}

.sidebar .collapse i, .sidebar .collapse span,
.sidebar .collapse-hook i, .sidebar .collapse-hook span
{
    font-size: 15px;
}

.sidebar .collapse .sidebar-nav-link,
.sidebar .collapse-hook .sidebar-nav-link {
    min-width: 62px !important;
    padding-right: 10px;
}

.sidebar-small {
    text-align: left;
    margin-left: 50px;
    width: 100%;
    border-bottom: 1px solid #8487968f;
    margin-top: 10px;
}
