#loginBtn{
    background-color: #D5632F;
    color: white;
    opacity: 0.8;
    border-radius: 15px;
}

#loginBtn:hover{
    background-color: #D5632F;
    color: white;
    opacity: 1;
    border-radius: 15px;
}

#registerBtn{
    background-color: #D5632F;
    color: white;
    opacity: 0.8;
    border-radius: 15px;
}

#registerBtn:hover{
    background-color: #D5632F;
    color: white;
    opacity: 1;
    border-radius: 15px;
}

#btnResetPassword{
    background-color: #D5632F;
    color: white;
    opacity: 0.8;
    border-radius: 15px;
}

#btnResetPassword:hover{
    background-color: #D5632F;
    color: white;
    opacity: 1;
    border-radius: 15px;
}

#btnSendResetPasswordLink{
    background-color: #D5632F;
    color: white;
    opacity: 0.8;
    border-radius: 15px;
}

#btnSendResetPasswordLink:hover{
    background-color: #D5632F;
    color: white;
    opacity: 1;
    border-radius: 15px;
}



.form-group{
    margin-bottom: 0rem !important;
}

.card-header{
    text-align: center;
}


.scan-label{
    padding:20px;
    background-color: #F2E9E6;
    width:100%;
}
.scan-title{
    background-color:#CE4B28;
    color:#fff;
    padding:40px;
    font-size:30px;
    margin-top:30px;
}

.scan-question-wrapper {
    width: 100%;
}

.scan-question{
    padding:20px;
    background-color: #F2E9E6;
    width:100%;

}

.scan-ratio-label{
    float: left;
    padding: 0 1em;
    text-align: center;
}
.scan-ratio{
    padding:20px;
    margin:0 auto;
    display: block;
    width:100%;
}
.scan-counter{
    display: flex;
    justify-content: center;
    background-color:#CE4B28;
    color:#ffffff;
    width:20px;
    height:20px;
}
#chart2{

}
.chart2-row{
    padding:20px 0;
    border-top:1px solid;
    border-left:1px solid;
    border-right:1px solid;
    border-bottom:none;
}
